@import 'tailwindcss';

@theme {
    --font-sans:
            'Inter', 'ui-sans-serif', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
    --color-primary: #004AAD;
    --color-primary-light: #045DC3;
    --color-secondary: #EC9E0A;
    --color-secondary-light: #F1A01E;
    --color-accent: #218AAA;
    --color-blue-200: #F3F6FC;
    --color-gray-100: #f5f4fb;
    --color-gray-300: rgba(255, 255, 255, 0.4);
    --color-gray-700: #1B232D;
    /*--color-primary-light: #bdb3ff;*/
    /*--color-primary-dark: #6b59d9;*/
    /*--color-gray-200: rgba(255, 255, 255, 0.7);*/
    /*--color-gray-400: #454d5e;*/
    /*--color-gray-600: #35424d;*/
    /*--color-gray-700: #222b39;*/
    /*--color-gray-800: #1b232d;*/
    /*--color-gray-900: #101623;*/
}

.error-message {
    position: absolute;
    bottom: -28px;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Chrome/Edge/Safari */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.highlight {
    background-color: rgba(236, 158, 10, 0.4); /* #EC9E0A à 40% d’opacité */
    @apply rounded-lg;
    @apply px-6 py-3;
    display: inline-block;
}


@layer base {
    body {
        @apply text-gray-900 bg-white;
    }
    body, html {
        @apply overflow-x-hidden;
    }

    .rich-text h1 {
        @apply text-[32px] font-extrabold mb-6 mt-2 leading-12;
        word-break: break-word;
    }

    .rich-text .max-w-5xl {
        @apply max-w-2xl;
    }

    .rich-text .leading-xl {
        @apply leading-18 mt-0;
    }

    .rich-text .leading-lg {
        @apply leading-16 mt-0;
    }

    .rich-text h2 {
        @apply text-3xl font-extrabold mt-2 mb-5 leading-10;
    }

    .rich-text h3 {
        @apply text-2xl font-extrabold mt-2 mb-4 leading-10;
    }

    .rich-text h4 {
        @apply text-xl font-extrabold mt-2 mb-3 leading-10;
    }

    .rich-text h5 {
        @apply text-xl font-extrabold mt-2 mb-2;
    }

    .rich-text h6 {
        @apply text-base font-extrabold mt-2 mb-2;
    }

    .rich-text p {
        @apply text-base mb-3;
    }
    .rich-text.text-sm p {
        @apply text-sm;
    }

    .rich-text a {
        @apply text-blue-600 hover:text-blue-800 underline;
    }

    /* SHOW PUCE AND NUMBER IN LISTS UL/OL */
    .blog-article .rich-text ul {
        @apply list-disc list-inside;
    }

    .blog-article .rich-text ol {
        @apply list-decimal list-inside;
    }

    .blog-article li > p {
        @apply inline;
    }

    .blog-article li:not(:last-child) {
        @apply mb-8;
    }

    blockquote {
        @apply p-4 my-10 border-s-4 border-gray-800 bg-gray-50;
    }

    blockquote p {
        @apply sm:text-base! text-lg! italic font-medium leading-7 text-gray-900 inline;
    }

    blockquote::before,
    blockquote::after {
        font-family: serif;
        @apply sm:text-base text-3xl! text-gray-900 leading-0 relative top-1.5;
    }

    blockquote::before {
        content: "“";
        margin-right: 0.5rem;
    }

    blockquote::after {
        content: "”";
        margin-left: 0.5rem;
    }

    .blog-article .a2m-link,
    .rich-text .a2m-button
    {
        @apply no-underline;
    }
}


@layer utilities {
    @media (min-width: 40rem) {
        .rich-text h1 {
            @apply text-6xl leading-[75px] mt-12;
        }

        .rich-text h2 {
            @apply text-5xl leading-16 mt-10;
        }

        .rich-text h3 {
            @apply text-4xl leading-14 mt-8;
        }

        .rich-text h4 {
            @apply text-3xl mt-6;
        }

        .rich-text h5 {
            @apply text-2xl mt-5;
        }

        .rich-text h6 {
            @apply text-xl mt-4;
        }

        .blog-article .rich-text p {
            @apply my-4;
        }

        .rich-text p {
            @apply my-6;
        }

        .rich-text .leading-xl {
            @apply leading-[115px];
        }

        .rich-text .leading-lg {
            @apply leading-[100px];
        }
    }

    @media (max-width: 28rem) {
        #prestation-landing .rich-text h1 {
            @apply text-3xl;
        }
        .highlight {
            @apply px-5! py-2!;
        }
    }

    @media (max-width: 40rem) {
        .rich-text.sm\:text-sm p {
            @apply text-sm;
        }

        #tabs-content > div {
            padding: 32px 20px 24px 20px;
        }

        #our-values-and-commitments > div,
        #contact-cta > div,
        #benefits-and-approach > div {
            padding: 100px 24px 100px 24px;
        }
    }

    .animate-bounce-pulse {
        animation: bouncePulse 3s ease-in-out infinite;
    }

    @keyframes bouncePulse {
        0%,
        100% {
            transform: translateY(0) scale(1);
            opacity: 1;
        }
        25% {
            transform: translateY(4px) scale(1.05);
            opacity: 0.8;
        }
        50% {
            transform: translateY(0) scale(1);
            opacity: 1;
        }
        75% {
            transform: translateY(4px) scale(1.05);
            opacity: 0.8;
        }
    }
}
