@import 'tailwindcss';

@theme {
    --font-sans:
            'Inter', 'ui-sans-serif', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
    --color-primary: #004AAD;
    --color-primary-light: #045DC3;
    --color-secondary: #EC9E0A;
    --color-secondary-light: #F1A01E;
    --color-blue-200: #F3F6FC;
    --color-gray-100: #f5f4fb;
    --color-gray-300: rgba(255, 255, 255, 0.4);
    --color-gray-700: #1B232D;
    /*--color-primary-light: #bdb3ff;*/
    /*--color-primary-dark: #6b59d9;*/
    /*--color-gray-200: rgba(255, 255, 255, 0.7);*/
    /*--color-gray-400: #454d5e;*/
    /*--color-gray-600: #35424d;*/
    /*--color-gray-700: #222b39;*/
    /*--color-gray-800: #1b232d;*/
    /*--color-gray-900: #101623;*/
}

.error-message {
    position: absolute;
    bottom: -28px;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Chrome/Edge/Safari */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.highlight {
    background-color: rgba(236, 158, 10, 0.4); /* #EC9E0A à 40% d’opacité */
    @apply rounded-lg;
    @apply px-6 py-3;
    display: inline-block;
}


@layer base {
    body {
        @apply text-gray-900 bg-white;
    }

    .rich-text h1 {
        @apply text-6xl font-extrabold mt-12 mb-6 leading-[75px];
    }

    .rich-text .max-w-5xl {
        @apply max-w-2xl;
    }

    .rich-text .leading-xl {
        @apply leading-[115px] mt-0;
    }

    .rich-text .leading-lg {
        @apply leading-[100px] mt-0;
    }

    .rich-text h2 {
        @apply text-5xl font-extrabold mt-10 mb-5 leading-16;
    }

    .rich-text h3 {
        @apply text-4xl font-extrabold mt-8 mb-4;
    }

    .rich-text h4 {
        @apply text-3xl font-extrabold mt-6 mb-3;
    }

    .rich-text h5 {
        @apply text-2xl font-extrabold mt-5 mb-2;
    }

    .rich-text h6 {
        @apply text-xl font-extrabold mt-4 mb-2;
    }

    .rich-text p {
        @apply text-base my-6;
    }

    .rich-text a {
        @apply text-blue-600 hover:text-blue-800 underline;
    }
}


@layer utilities {
    .animate-bounce-pulse {
        animation: bouncePulse 3s ease-in-out infinite;
    }

    @keyframes bouncePulse {
        0%,
        100% {
            transform: translateY(0) scale(1);
            opacity: 1;
        }
        25% {
            transform: translateY(4px) scale(1.05);
            opacity: 0.8;
        }
        50% {
            transform: translateY(0) scale(1);
            opacity: 1;
        }
        75% {
            transform: translateY(4px) scale(1.05);
            opacity: 0.8;
        }
    }
}
